{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    body {
        background-color: #618264;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Menggunakan 100% dari tinggi viewport */
        margin: 0;
        background-image: url('https://i.ibb.co/DGmQT10/kaos.jpg')
    }

    .login {
        background-color: #F1F0E8; /* Latar belakang berwarna biru muda */
        padding: 20px;
        border-radius: 10px;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    }

    .login h1 {
        color: #F2EE9D; /* Warna teks putih */
    }

    .login input[type="text"],
    .login input[type="password"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login .btn {
        background-color: #FAE392; /* Tombol berwarna biru */
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .login .btn:hover {
        background-color: #F4D160; /* Warna tombol saat dihover */
    }
</style>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>


{% endblock content %}