{% extends 'base.html' %}
{% block content %}

<style>

  /* Tambahkan CSS untuk warna yang berbeda di baris terakhir */
  .last-row {
      background-color: #FCE09B; /* Warna background untuk baris terakhir */
      color: #000; /* Warna teks untuk baris terakhir */
  }

  body {
      background-color: #F8F0E5;
  }

  .card {
    background-color: #FFE9A0; /* Ganti kode warna dengan warna yang Anda inginkan */
    margin-bottom: 20px;
    width: 250px; /* Lebar kartu */
    height: 150px; /* Tinggi kartu */
  }

div.scroll-container {
  white-space: nowrap;
  padding: 10px;
  overflow-x: auto; /* Mengaktifkan scroll horizontal jika gambar melebihi lebar container */
}

div.scroll-container img {
  width: 200px; /* Ukuran gambar */
  height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */
  margin-right: 10px; /* Jarak antara gambar */
}

/* CSS untuk memposisikan Produk 1 dan 2 ke sebelah kanan */
.product-container {
    float: right; /* Mengatur container produk ke sisi kanan */
    margin-top: 10px; /* Jarak antara container produk dengan elemen di atasnya */
    margin-right: 10px; /* Jarak antara container produk dengan elemen di sebelah kirinya */
    width: 300px; /* Lebar container produk */
    text-align: right; /* Mengatur teks ke kanan di dalam container produk */
}

.product-item {
    text-align: left; /* Mengatur teks produk ke kiri di dalam container produk */
    margin-bottom: 10px; /* Jarak antara setiap item produk */
}


</style>


{% comment %} <p>Class: PBP B </p>  {% endcomment %}

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" style="background-color: #FFC288;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">SHOPPING PAGE</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Welcome {{name}} !</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>


{% comment %} <h1><mark>SHOPPING KAOS</mark></h1> {% endcomment %}

<h2>Pilih Produk</h2>

<div class="product-container">
  <div class="product-item">
<h5>Model 1</h5>
<ul>
    <li><cite>Name:</cite> Kaos Polos</li>
    <li><cite>Amount:</cite> 1</li>
    <li><cite>Description:</cite> Warna hitam</li>
    <li><cite>Price:</cite> Rp 70000</li>
    <li><cite>Ukuran:</cite> S - M</li>
    <button>Cek Out</button>
</ul>
</div>
<div class="product-item">
<h5>Model 2</h5>
<ul>
    <li><cite>Name:</cite> Kaos Bermotif</li>
    <li><cite>Amount:</cite> 1</li>
    <li><cite>Description:</cite> Request warna</li>
    <li><cite>Price:</cite> Rp 100000</li>
    <li><cite>Ukuran:</cite> L - XL</li>
    <button>Cek Out</button>
</ul>
<h5>Model 3</h5>
<ul>
    <li><cite>Name:</cite>Hoodie Mikey</li>
    <li><cite>Amount:</cite> 1</li>
    <li><cite>Description:</cite> Request warna</li>
    <li><cite>Price:</cite> Rp 200000</li>
    <li><cite>Ukuran:</cite> S - XL</li>
    <button>Cek Out</button>
</ul>
</div>
</div>

<div class="scroll-container">
  <img src="https://i.ibb.co/DWxXzkq/ff7319d50bc6eed1d76a95b7c25b9ec4.jpg" alt="Cinque Terre">
  <img src="https://i.ibb.co/TbfMq8y/dee8b64277601ca7ef5c7361364ca5ca.jpg" alt="Forest">
  <img src="https://i.ibb.co/9GYqhQz/f00bfcfb1feb44a12643ed759e7b8a79.jpg" alt="Northern Lights">
  <img src="https://i.ibb.co/G2c8Hjt/48ebdf5226e44f0d84907518310fc118.jpg" alt="Mountains">

  
<div class="row" id="product_cards"></div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                      <label for="name" class="col-form-label">Amount:</label>
                      <input type="number" class="form-control" id="amount" name="amount"></input>
                  </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

<br />
<a href="{% url 'main:create_product' %}">
  <button>
      Add New Product
  </button>
</a>

<a href="{% url 'main:logout' %}">
<button>
    Logout
</button>
</a>

<div class="row" id="product_container"></div>
<script>
  async function getProducts() {
      return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
  }

  async function refreshProducts() {
    const productCards = document.getElementById("product_cards");
    productCards.innerHTML = ""; // Clear existing cards
    const products = await getProducts();

    products.forEach((item) => {
        const card = `
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 custom-card"> 
                <div class="card-body">
                    <h5 class="card-title">${item.fields.name}</h5>
                    <p class="card-text">${item.fields.description}</p>
                    <a href="#" class="btn btn-primary" onclick="removeItem(${item.pk})" style="background-color: #392004;">Hapus</a>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: ${item.fields.price}</li>
                    <li class="list-group-item">Stok: ${item.fields.amount}</li>
                    <li class="list-group-item">Date Added: ${item.fields.date_added}</li>
                  </div>
                </ul>
            </div>
        </div>
        `;

        productCards.insertAdjacentHTML("beforeend", card);
    });
}

  refreshProducts()

  function addProduct() {
    fetch("{% url 'main:add_product_ajax' %}", {
      method: "POST",
      body: new FormData(document.querySelector('#form'))
    }).then(refreshProducts)
    document.getElementById("form").reset()
    return false
  }
document.getElementById("button_add").onclick = addProduct

// bonus delete card 
async function removeItem(pk) {
  const formData = new FormData();
  formData.append("id", pk);
  fetch("{% url 'main:remove_all_ajax' %}", {
      method: "POST",
      body: formData
  }).then(() => {
      // Setelah berhasil menghapus semua item, perbarui tampilan produk
      refreshProducts();
  });
}

</script>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}